<div style="text-align:center">
  <div style="text-align: center">
    <span>Usuarios</span>
    <button routerLink="" style="float:left" class="" md-raised-button color="accent"> Regresar </button>
    <button routerLink="/users/create" style="float:right" class="" md-raised-button color="primary"> Crear usuario </button>
  </div>
  <table style="display:block;table-layout:fixed;margin-top:50px;overflow:scroll">
    <tr *ngFor="let u of this._users">
      <td colspan="1">
        <button class="" md-button color="primary"> Ver </button>
      </td>
      <td colspan="1">
        <span>
          {{u.firstName+" "+u.secondName+" "+u.firstLastName+" "+u.secondLastName}}
        </span>
      </td>
      <td colspan="1">
        <button md-button color="primary"> Editar </button>
      </td>
      <td colspan="1">
        <button md-button color="warn"> Eliminar </button>
      </td>
    </tr>
  </table>
</div>