<md-card style="text-align:center">
  <md-card-title style="text-align: left">
    <span>Usuarios</span>
    <button routerLink="/users/create" style="float:right" class="" md-raised-button color="primary"> Crear usuario </button>
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let u of this._users">
        <md-icon md-list-icon>business</md-icon>
        <h3 md-line>
          {{u.firstName+" "+u.secondName+" "+u.firstLastName+" "+u.secondLastName}}
          <span style="float:right">
          <md-icon>update</md-icon>
          <md-icon>delete</md-icon>
          </span>
        </h3>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>