<md-card style="text-align:center">
  <md-card-title>Menú</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item>
        <button routerLink="/schools" class="list-button" md-raised-button color="primary"> Colegios </button>
      </md-list-item>
      <md-list-item>
        <button routerLink="/users" class="list-button" md-raised-button color="primary"> Usuarios </button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<md-card style="text-align:center">
  <md-card-title>Alertas</md-card-title>
  <md-card-content>
  </md-card-content>
</md-card>