<md-card style="text-align:center">
    <md-card-title>
        Inicio de sesión
    </md-card-title>
    <md-card-content>
        <p>
            <md-input-container>
                <input mdInput placeholder="Usuario" />
            </md-input-container>
        </p>
        <p>
            <md-input-container>
                <input type="password" mdInput placeholder="Contraseña" />
            </md-input-container>
        </p>
        <p>
            <button md-raised-button color="primary"> Login </button>
        </p>
    </md-card-content>
</md-card>