<md-sidenav-container>
  <md-sidenav #sidenav mode="push" class="app-sidenav">
    <md-list>
      <md-list-item>
        <button routerLink="/schools" class="menu-button" md-button color="primary" (click)="sidenav.toggle()">Colegios</button>
      </md-list-item>
      <md-list-item>
        <button routerLink="/users" class="menu-button" md-button color="primary" (click)="sidenav.toggle()">Usuarios</button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  
  <md-toolbar color="primary" class="toolbar-style">
    <div class="app-icon-button" (click)="sidenav.toggle()">
      <md-icon class="material-icons app-toolbar-menu menu-icon">menu</md-icon>
    </div>
    Sistema Control de Estudiantes
  </md-toolbar>
  
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
