<div style="text-align:center">
  <div style="text-align: center">
    <span>Colegios</span>
    <button routerLink="" style="float:left" class="" md-raised-button color="accent"> Regresar </button>
    <button routerLink="/schools/create" style="float:right" class="" md-raised-button color="primary"> Crear colegio </button>
  </div>
  <!--<md-nav-list fxLayout="column" style="margin:20px">
    <md-list-item *ngFor="let s of this._schools">
      <button fxFlex="25" class="" md-button color="primary"> Ver </button>
      <div style="width:20%" fxFlex="25">{{s.name}}</div>
      <button fxFlex="25" md-button color="primary"> Editar </button>
      <button fxFlex="25" md-button color="warn"> Eliminar </button> 
    </md-list-item>
  </md-nav-list>-->
  <table style="display:block;table-layout:fixed;margin-top:50px;overflow:scroll">
    <tr  *ngFor="let s of this._schools">
      <td colspan="1">
        <button class="" md-button color="primary"> Ver </button>
      </td>
      <td colspan="1">
        <span>
          {{s.name}}
        </span>
      </td>
      <td colspan="1">
        <button md-button color="primary"> Editar </button>
      </td>
      <td colspan="1">
        <button md-button color="warn"> Eliminar </button>
      </td>
    </tr>
  </table>
</div>